* {
	font-family: Segoe UI, Lucida Grande, Tahoma, sans-serif;
	text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body {
	padding-left: 20px;
	padding-right: 20px;
	min-width: 400px; /*toDo fit to actial sice needed*/
	color: #e1e1e1;
}

p {
	text-align:center;
}

a {
        color: #8080ff;
}

button
{
	font-size:12px;
	border:1px solid;
	height:20px;
}

textarea {
	resize: vertical;
	width: 100%;
	height: 50px;
	white-space: nowrap;
}

input[type=text]
{
	height:12px;
}

#content {
	margin-right:auto;
	margin-left:auto;
	vertical-align:middle;
	width:100%;
}

#content ul {
	padding:0px;
}

#content ul li {
	margin:3px 0px 3px 0px;
}

.hidden {
    display: none;
}


