.autotc_gui * {
	font-family: "Adobe Clean UX", Segoe UI, Lucida Grande, Tahoma, sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	font-size: 10pt;
}

body.autotc_gui {
	padding: 0 1rem;
	min-width: 250px; 
	font-size: 9pt;
	color:  #b9b9b9;
	background-color: #232323;
}

.autotc_gui p {
	text-align:center;
}

.autotc_gui a {
        color: #8080ff;
}

.autotc_gui form section > span {
	display: block;
	margin: .15em .5em;
	padding: .2em;
}

.file {
	position: relative;
	display: inline-block;
	cursor: pointer;
	height: 2.5rem;
	width: 100%;
  }
.file * {
	margin: auto;
}  
.file input[type="file"] {
	overflow: hidden;
	display: flex;
    width: 100%;
    line-height: 1.5;
    color: #232323;
    background-color: #b9b9b9;
    background-clip: padding-box;
	border-radius: .25rem;
	height: 2em;
	vertical-align: middle;
}

section#log {
	border-top: 1px solid #b9b9b9;
}

input[type="file"]::-webkit-file-upload-button {
	padding: .25rem 1rem;
	color: #b9b9b9;
	background-color: #232323;
	border: .075rem solid #b9b9b9;
	border-radius: .25rem 0 0 .25rem;
	height: 100%;
	font-size: 0.9em;	
	cursor: pointer;
}

.autotc_gui button, .autotc_gui input[type=submit] {
	margin: 1rem auto;
	font-size: 0.7rem;
	border:1px solid #b9b9b9;
	border-radius: 50px;
	background-color: transparent;
	background-image: none;
	padding: 0.5em 1em 0.5em;
	width: 100px; 
	height: 100%;
	display:block;
	color: #b9b9b9;
}

.autotc_gui button:hover, .autotc_gui input[type=submit]:hover , input[type=file]::-webkit-file-upload-button:hover, 
	.autotc_gui input:not([type=file]):hover, .autotc_gui input + span:hover, [type=checkbox]:checked:hover + label,
	[type=checkbox]:not(:checked):hover + label, [type=checkbox]:checked:hover + label:before,
	[type=checkbox]:not(:checked):hover + label:before, [type=checkbox]:checked:hover + label:after,
	[type=checkbox]:not(:checked):hover + label:after, [type=radio]:not(:checked):hover + label, 
	[type=radio]:checked:hover + label, [type=radio]:checked:hover + label:before, 
	[type=radio]:not(:checked):hover + label:before, [type=radio]:checked:hover + label:after, 
	[type=radio]:not(:checked):hover + label:after {
	color: #0078d7;
	border-color: #0078d7;
	transition: all .25s;
}

.autotc_gui button:focus, .autotc_gui input[type=submit]:focus , input[type="file"]::-webkit-file-upload-button:focus, input {
	outline: 0;
}
.autotc_gui button:active, input[type="file"]::-webkit-file-upload-button:active, 
	.autotc_gui input:not([type=file]):active, .autotc_gui input + span:active {
	filter: brightness(90%);
}

.autotc_gui button, .autotc_gui input, .autotc_gui input + span {
	cursor: pointer;
}

.logButtons {
	display:block;
	margin: 1rem auto;
	width: fit-content;
}
.logButtons button {
	margin: .2rem .25rem;
	display: inline;
}

.autotc_gui textarea {
	resize: vertical;
	width: 100%;
	height: 50px;
	white-space: nowrap;
	font-family: monospace;
	color:darkgray;
	font-size: 1em;
	border-radius: .25rem;
}

.autotc_gui input {
	height:1rem;
}

#content {
	margin-right:auto;
	margin-left:auto;
	vertical-align:middle;
	width:100%;
}

#content ul {
	padding:0px;
}

#content ul li {
	margin:3px 0px 3px 0px;
}

.hidden {
    display: none;
}

.autotc_gui h3 {
	padding: .25em 0;
	font-size: 1em;
	font-weight: bold;
	margin: 1em 0;
	text-align: center;
}

.autotc_gui label:not(.file) {
	height: 1em;
}
.autotc_gui input[type=checkbox], .autotc_gui input[type=radio], 
	.autotc_gui input[type=checkbox]:checked + span, .autotc_gui input[type=checkbox]:not(:checked) + span,
	.autotc_gui input[type=radio]:checked + span, .autotc_gui input[type=radio]:not(:checked) + span {
	margin: auto;
	vertical-align:middle;
}



/*Custom radio and checkboxes*/


[type=checkbox], [type=radio] {
	visibility: hidden;
	transform: scale(0);
	position: absolute;
	left: -9999px;
}

[type=checkbox]:not(:checked) + label, [type=checkbox]:checked + label, 
	[type=radio]:not(:checked) + label, [type=radio]:checked + label {
	position: relative;
	padding-left: 1.95em;
	cursor: pointer;
	margin: auto 0;
}
[type=checkbox]:not(:checked) + label::after {
	opacity: 0;
	 transform: scale(0);
}
[type=checkbox]:checked + label::after {
	opacity: 1;
	 transform: scale(1);
}

[type=checkbox]:not(:checked) + label::before, [type=checkbox]:checked + label::before, 
	[type=radio]:not(:checked) + label::before, [type=radio]:checked + label::before {
	box-sizing: border-box;
	content: '';
	position: absolute;
	left: 0; top: .2em;
	font-size: 1em;
	width: 1.1em; height: 1.1em;
	border: 1px solid #b9b9b9;
	background: transparent;
	transition: all .25s;
}
[type=checkbox]:not(:checked) + label::before, [type=checkbox]:checked + label::before {
	border-radius: 4px;
}

[type=radio]:not(:checked) + label::before, [type=radio]:checked + label::before {
	border-radius: 50px;
	
}

[type=checkbox]:not(:checked) + label::after, [type=checkbox]:checked + label::after {
	content: '\2716\0020';
	position: absolute;
	margin: auto;
	font-size: 0.7em;
	left: .4em; top: .6em;
	line-height: 0.8;
	color: #b9b9b9;
	transition: all .25s;
	width: 10px; height: 10px;
	font-family: 'Segoe UI', 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
	
}
input[type=checkbox]:not(:checked) + label::after, input[type=checkbox]:checked + label::after {
	border-radius: 3px;
}

[type=radio]:checked + label::before {
	border: 4px solid #b9b9b9;
}

[type=checkbox]:checked + label::before {
	border: 2px solid #b9b9b9;
}

